<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <style>
        input{
            width: 300px;
            height: 30px;
            border-radius: 2px;
            display: inline-block;
            text-align:left;
        }

        .submit{
            background-color: crimson;
            color: white;
            width: 300px;
            height: 30px;
            display:inline-block;
            text-align: center;
        }

        .required:after{
            content: "*";
            color: red;
        }
    </style>
</head>
<body>
    <h1>Verify Otp</h1>
    <form action="/multer/verify-otp" method="post" enctype="application/x-www-form-urlencoded">
        <label for="" class="required" >Name</label>
        <input type="text" name="name" class="input">
        <label for="" class="required">Email</label>
        <input type="text" name="email" class="input">
        <br>
        <br>
        <label for="" class="required" >Enter Otp</label>
        <input type="text" name="otp" class="input">
        <br>
        <br>
        <button type="submit" class="submit">Verify</button>
    </form>
</body>
</html>